.app{
  margin-top: 50px;
  margin-left: 50px;
  background-color: #eee;
  padding: 50px;
}

.search-bar {
  width: 40%;
  padding: 10px;
  font-size: 16px;
}

.product-item {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-item:hover {
  background-color: #f9f9f9;
}

img {
  width: 100%;
  max-width: 300px;
}

.product-detail {
  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  } 

  th {
    background-color: #f2f2f2;
  }
}

.add-product form {
  max-width: 500px;
  margin: 0 auto;
}

.add-product label {
 display: block;
 margin-bottom: 8px; 
}

.add-product input {
  display: block;  
  width: 100%; 
  padding: 8px;
  margin-bottom: 15px; 
}

.add-product button {
  padding: 10px 20px;
  margin-top: 10px;
}

.add-product .error {
  color: red;
}

.add-product .success {
  color: green;
}

.pagination-control
{
  padding: 10px;
  margin-left: 180px;
  display: flex;
  gap: 5px; 
}
